@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Organical";
    src: url("../public/Assets/fonts/organical.ttf");
  }
  @font-face {
    font-family: "textalk";
    src: url("../public/Assets/fonts/text-talk.ttf");
  }